p{
    margin: 25px;
    font-family: 'Courier New', Courier, monospace;
}

article{
    padding: 25px;
}

header{
    color: rebeccapurple;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}

.capitalize{
    text-transform: capitalize;
}

.cursive{
    font-family: cursive;
}

#credit{
    font-family: cursive;
}
